/*
    Document   : admin
    Created on : Jul 20, 2012, 9:32:16 AM
    Author     : tom
    Description:
        Various admin styles not covered by Twitter Bootstrap.
*/
div.pagination-condensed {
	margin: 0px;
}
div.pagination-condensed ul li a {
	line-height: 26px;
	padding: 0 10px;
}

.input-span3 {
	width: 192px;
}

textarea.editor-html {
	width: 100%;
}

a.help-tooltip {
	font-weight: normal;
	color: inherit;
	text-decoration: none;
}
.tip {
	position: relative;
	top: -0.5em;
	font-size: 80%;
	font-weight: normal;
	text-decoration: none;
	color: #222;
}
a.tip:hover {
	text-decoration: none;
}